<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Simulator.CustomerApp.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Simulator.CustomerApp.Settings>
            <setting name="CustomerHubUrl" serializeAs="String">
                <value>https://localhost:7044/customer?customerId=123</value>
            </setting>
        </Simulator.CustomerApp.Settings>
    </userSettings>
</configuration>